Flask==3.0.3
Flask-PyMongo==2.3.0
Flask-JWT-Extended==4.6.0
Flask-Mail==0.10.0
Flask-CORS==4.0.0
pymongo[srv]==4.8.0
dnspython==2.6.1
bcrypt==4.1.3
python-dotenv==1.0.1
openai==1.12.0
Werkzeug==3.0.3
marshmallow==3.21.3
Pillow==10.4.0
python-slugify==8.0.4
langdetect==1.0.9
gunicorn==22.0.0
pytest==8.1.1
